*.bundle
*.class
*.gem
*.iml
*.rpm
*.so
*.spec
*.tar.gz
*.cfg
.bash_history
.idea/
exported-artifacts/
rpmbuild/
sdk/doc/
sdk/lib/ovirtsdk4/readers.rb
sdk/lib/ovirtsdk4/services.rb
sdk/lib/ovirtsdk4/types.rb
sdk/lib/ovirtsdk4/version.rb
sdk/lib/ovirtsdk4/writers.rb
sdk/pkg/
sdk/spec/access.log
sdk/spec/client.log
sdk/spec/server.log
sdk/tmp/
settings.xml
target/
Gemfile.lock
